{% extends 'base3.html' %}
{% load static %}

{% block title %}Editar{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<form id="form" action="/disciplina/edit/{{ disciplina.id }}/" method="post">
    {% csrf_token %}
    {{ form }}
    <input  style="margin-top: 3%;"   class="btn btn-primary" type="submit" value="Editar">
    <a href="\disciplina\" class="btn btn-primary"   style="margin-top: 3%;">Voltar <i class="fa-solid fa-backward" style="color: #ffffff;"></i></a>
</form>
{% endblock %}