{% extends 'base.html' %}
{% load static %}

{% block title %}Lista{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="container-flex" id="container-home">
    <form action="/" method="get">
        <div class="input-group mb-3">
            <input type="text" name="titulo" class="form-control" placeholder="Digite o nome da Task" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
    <br>
    <p><a href="/add/"><button type="button" class="btn btn-primary btn-lg">Adicionar Task <i class="fa-solid fa-plus" style="color: #ffffff;"></i></button></a></p>
    <br>
    <br>
    {% include 'table.html' %}
</div>
{% endblock %}
