{% extends 'base3.html' %}

{% block title %}Adicionar{% endblock %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<form action="/curso/add/" id="form" method="post" style="margin-top: 100px;">
    {% csrf_token %}
    {{ form }}
    <input  class="btn btn-primary" type="submit" value="Criar"  style="margin-top: 3%;">
    <a href="{% url 'turmashome' %}" class="btn btn-primary"   style="margin-top: 3%;">Voltar <i class="fa-solid fa-backward" style="color: #ffffff;"></i></a>
</form>
{% endblock %}